In [1]:
# Dependencies
import requests
import json
import prettytable
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import linregress
import numpy as np
import csv
import geopandas as gp
from scipy.stats import f_oneway

In [2]:
# CEU6054151111
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CEU6054151111'],"startyear":"2013", "endyear":"2022"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 211,
 'message': [],
 'Results': {'series': [{'seriesID': 'CEU6054151111',
    'data': [{'year': '2022',
      'period': 'M12',
      'periodName': 'December',
      'value': '2107.88',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M11',
      'periodName': 'November',
      'value': '2137.56',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M10',
      'periodName': 'October',
      'value': '2275.90',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M09',
      'periodName': 'September',
      'value': '2131.54',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M08',
      'periodName': 'August',
      'value': '2101.40',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M07',
      'periodName': 'July',
      'value': '2134.91',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M06',
      'periodName': 'June',
      'value': '2098.28',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M05',
      'periodName': 'May',
      'value': '2192.61',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M04',
      'periodName': 'April',
      'value': '2104.82',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M03',
      'periodName': 'March',
      'value': '2035.91',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M02',
      'periodName': 'February',
      'value': '2071.38',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M01',
      'periodName': 'January',
      'value': '2124.05',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M12',
      'periodName': 'December',
      'value': '1991.27',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M11',
      'periodName': 'November',
      'value': '1978.38',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M10',
      'periodName': 'October',
      'value': '2020.82',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M09',
      'periodName': 'September',
      'value': '1959.81',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M08',
      'periodName': 'August',
      'value': '2074.80',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M07',
      'periodName': 'July',
      'value': '1997.20',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M06',
      'periodName': 'June',
      'value': '1964.41',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M05',
      'periodName': 'May',
      'value': '2077.19',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M04',
      'periodName': 'April',
      'value': '1950.34',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M03',
      'periodName': 'March',
      'value': '1902.28',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M02',
      'periodName': 'February',
      'value': '1923.18',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M01',
      'periodName': 'January',
      'value': '1924.19',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M12',
      'periodName': 'December',
      'value': '1921.00',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M11',
      'periodName': 'November',
      'value': '2049.51',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M10',
      'periodName': 'October',
      'value': '1917.95',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M09',
      'periodName': 'September',
      'value': '1866.46',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M08',
      'periodName': 'August',
      'value': '2026.88',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M07',
      'periodName': 'July',
      'value': '1892.40',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M06',
      'periodName': 'June',
      'value': '1892.79',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M05',
      'periodName': 'May',
      'value': '1910.02',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M04',
      'periodName': 'April',
      'value': '1889.76',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'value': '1995.20',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '2016.21',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '1874.53',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '1993.80',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '1891.89',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '1884.79',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '1988.97',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '1888.61',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '1863.51',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '2001.70',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '1892.43',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '1899.69',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '1897.34',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '1898.35',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '1861.65',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '1966.14',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '1853.69',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '1852.17',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '1957.62',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '1863.16',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '1949.28',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '1853.57',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '1871.50',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '1969.91',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '1838.91',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '1861.87',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M01',
      'periodName': 'January',
      'value': '1813.37',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M12',
      'periodName': 'December',
      'value': '1829.70',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M11',
      'periodName': 'November',
      'value': '1810.86',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M10',
      'periodName': 'October',
      'value': '1901.84',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M09',
      'periodName': 'September',
      'value': '1812.99',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M08',
      'periodName': 'August',
      'value': '1792.48',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M07',
      'periodName': 'July',
      'value': '1875.05',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M06',
      'periodName': 'June',
      'value': '1764.50',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M05',
      'periodName': 'May',
      'value': '1761.00',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M04',
      'periodName': 'April',
      'value': '1877.83',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M03',
      'periodName': 'March',
      'value': '1766.07',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M02',
      'periodName': 'February',
      'value': '1770.39',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M01',
      'periodName': 'January',
      'value': '1844.64',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M12',
      'periodName': 'December',
      'value': '1751.25',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M11',
      'periodName': 'November',
      'value': '1754.18',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M10',
      'periodName': 'October',
      'value': '1854.16',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M09',
      'periodName': 'September',
      'value': '1740.88',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M08',
      'periodName': 'August',
      'value': '1749.55',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M07',
      'periodName': 'July',
      'value': '1749.01',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M06',
      'periodName': 'June',
      'value': '1741.82',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M05',
      'periodName': 'May',
      'value': '1856.90',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M04',
      'periodName': 'April',
      'value': '1769.75',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M03',
      'periodName': 'March',
      'value': '1743.82',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M02',
      'periodName': 'February',
      'value': '1757.88',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M01',
      'periodName': 'January',
      'value': '1773.46',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M12',
      'periodName': 'December',
      'value': '1744.00',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M11',
      'periodName': 'November',
      'value': '1860.65',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M10',
      'periodName': 'October',
      'value': '1751.47',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M09',
      'periodName': 'September',
      'value': '1720.28',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M08',
      'periodName': 'August',
      'value': '1829.02',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M07',
      'periodName': 'July',
      'value': '1708.53',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M06',
      'periodName': 'June',
      'value': '1704.96',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M05',
      'periodName': 'May',
      'value': '1714.94',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M04',
      'periodName': 'April',
      'value': '1704.19',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M03',
      'periodName': 'March',
      'value': '1788.21',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M02',
      'periodName': 'February',
      'value': '1780.65',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M01',
      'periodName': 'January',
      'value': '1669.92',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '1665.73',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '1772.76',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '1647.83',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '1630.08',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '1637.33',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '1625.91',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '1728.47',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '1639.68',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '1640.06',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '1710.67',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '1719.20',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '1610.88',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '1692.30',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '1621.24',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '1591.44',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '1669.14',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '1582.29',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '1562.27',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '1678.52',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '1594.86',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '1603.25',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '1593.32',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '1612.00',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '1574.75',
      'footnotes': [{}]}]}]}}

In [3]:
# Store the year, period, and periodName, and # of job openings in columns of the dataframe
year = []
periodName = []
value = []
num_series = len(json_data["Results"]["series"][0]["data"])
series_data = json_data["Results"]["series"][0]["data"]

for i in range(num_series):
    year.append(series_data[i]["year"])
    periodName.append(series_data[i]["periodName"])
    value.append(series_data[i]["value"])

# Create a dataframe from these columns
salary_df = pd.DataFrame({"Year": year,
                            "Month": periodName,
                            "Weekly Salary": value})

In [4]:
salary_df

     Year      Month Weekly Salary
0    2022   December       2107.88
1    2022   November       2137.56
2    2022    October       2275.90
3    2022  September       2131.54
4    2022     August       2101.40
..    ...        ...           ...
115  2013        May       1594.86
116  2013      April       1603.25
117  2013      March       1593.32
118  2013   February       1612.00
119  2013    January       1574.75

[120 rows x 3 columns]

In [5]:
salary_df.dtypes

Year             object
Month            object
Weekly Salary    object
dtype: object

In [6]:
salary_df['Weekly Salary'] = salary_df['Weekly Salary'].astype(float)

In [7]:
salary_df.dtypes

Year              object
Month             object
Weekly Salary    float64
dtype: object

In [8]:
salary_df['Monthly Salary'] = salary_df['Weekly Salary'] * 4.23
salary_df

     Year      Month  Weekly Salary  Monthly Salary
0    2022   December        2107.88       8916.3324
1    2022   November        2137.56       9041.8788
2    2022    October        2275.90       9627.0570
3    2022  September        2131.54       9016.4142
4    2022     August        2101.40       8888.9220
..    ...        ...            ...             ...
115  2013        May        1594.86       6746.2578
116  2013      April        1603.25       6781.7475
117  2013      March        1593.32       6739.7436
118  2013   February        1612.00       6818.7600
119  2013    January        1574.75       6661.1925

[120 rows x 4 columns]

In [9]:
salary_df = salary_df.groupby('Year').sum('Monthly Salary')
salary_df

      Weekly Salary  Monthly Salary
Year
2013       19375.38      81957.8574
2014       20028.60      84720.9780
2015       20976.82      88731.9486
2016       21242.66      89856.4518
2017       21807.35      92245.0905
2018       22651.19      95814.5337
2019       22962.73      97132.3479
2020       23252.71      98358.9633
2021       23763.87     100521.1701
2022       25516.24     107933.6952

In [10]:
salary_df = salary_df.rename(columns={"Monthly Salary": "Yearly Salary"})

In [11]:
salary_df = salary_df.drop(['Weekly Salary'], axis=1)

In [12]:
salary_df

      Yearly Salary
Year
2013     81957.8574
2014     84720.9780
2015     88731.9486
2016     89856.4518
2017     92245.0905
2018     95814.5337
2019     97132.3479
2020     98358.9633
2021    100521.1701
2022    107933.6952

In [13]:
salary_df.to_csv('BLS_annual_avg_salary.csv')